%link{ :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :type => "text/css", :rel => "stylesheet" }

= form_for @garage_item, url: "/garage_items/#{@garage_item.id}" do |f|
	= render "form", f: f

%br
= button_to "Go Back to Home", garage_items_path, method: "get"

