%link{ :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :type => "text/css", :rel => "stylesheet" }

%h1 New Garage Item

=	form_for @new_garage_item, url: "/garage_items" do |f|
	= render "form", f: f

%br
= button_to 'Back', garage_items_path, method: "get"